@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
   font-family: 'Roboto', sans-serif;;
}

header {
    color: white;
    font-weight: 700;
    font-size: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 69px;
    background-color: #Ec362d;
    box-shadow: 0px 4px rgba(0,0,0, 0.25);
    border-radius: 4px;
}
.main {
    width: 100%;
}

.quizzUsuario {
    width: 56%;
    height: 181px;
    border: 2px  dotted #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 77px;
    margin-bottom: 77px
}

.criarQuizz {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 40px;
    color: #Ec362d;
    border: 1px dotted #Ec362d;
    border-radius: 50px;
    font-size: 21px;
    margin-top: 34px;
}

.esconder {
    display: none; }
/*-------------TELA 1----------------*/

.quizzServidor {
    width: 1051px;
    margin: 0 auto;
}


.conteudoTela31 ,.conteudoTela32 ,.conteudoTela33 ,.conteudoTela34{
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prosseguirPerguntas, .prosseguirNiveis, .acessarQuizz, .finalizarQuizz {
    margin-top: 81px;
    margin-bottom: 20px;
}

.tela3 p {
    font-weight: 700;
    font-size: 23px;
    margin-top: 35px;
    margin-bottom: 27px;
}
.tela3 input {
    width: 564px;
    height: 46px;
    margin: 1% 0;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    overflow: hidden;
}

.tela3 input::placeholder {
    color: #bababa;
}

.tela3 .inputs {
    margin-bottom: 85px;
}

.tela3 .prosseguirPerguntas, .tela3 .prosseguirNiveis, .tela3 .acessarQuizz, .tela3 .finalizarQuizz {
    color: white;
    background-color: #Ec362d;
    width: 367px;
    height: 54px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.voltarHome {
    margin-top: 40px;
    font-size: 21px;
    color: #818181;
}

.esconder {
    display: none;
}

.quizzServidor p, .pergTitulo{
    font-weight: 700;
}
li{
    position: relative;
    flex-wrap: wrap;
}
ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
li img{
    
    background-image: linear-gradient(to top, black);
    width: 340px;
    height: 181px;
    border-radius: 5px;
    margin-top: 12px;
    flex-wrap: wrap;
}
.texto-imagem{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 19px;
    width: 340px;
    position: absolute;
    bottom: 15px;
    left: 20px;
    flex-wrap: wrap;
}

.pergTitulo {
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    font-size: 21px;
    margin: 50px 0;
}

